* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #0f1220, #1b1f3b);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e5e7eb;
}

.auth-container {
  width: 950px;
  max-width: 95%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: #171a2f;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 30px 70px rgba(0, 0, 0, 0.6);
}

.message-panel {
  padding: 60px;
  background: linear-gradient(160deg, #6f7cff, #4f5dff);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-panel h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.message-panel p {
  opacity: 0.9;
  line-height: 1.6;
}

.form-panel {
  padding: 50px;
}

.tabs {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.tabs button {
  background: none;
  border: none;
  color: #9ca3af;
  font-size: 18px;
  cursor: pointer;
  padding-bottom: 5px;

}

.tabs button.active {
  color: #fff;
  border-bottom: 2px solid #6f7cff;
}

form {
  display: none;
  opacity: 0;
  transform: translateY(15px);
}

form.active {
  display: block;
  animation: fadeIn 0.6s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

input {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  background: #0f1220;
  border: 1px solid #2b2f55;
  border-radius: 10px;
  color: #e5e7eb;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 10px;
  border: none;
  border-radius: 12px;
  background: #6f7cff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 120px;
}

button:hover {
  background: #5b68ff;
}

.note {
  font-size: 13px;
  color: #9ca3af;
  margin-top: 10px;
}

.password-box {
  position: relative;
}

.password-box input {
  padding-right: 45px;
}

.eye {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.eye:hover {
  opacity: 1;
}

.hint {
  font-size: 12px;
  color: #9ca3af;
}

.msg {
  margin-top: 10px;
  display: block;
  font-weight: bold;
}

.switch-text {
  margin-top: 15px;
  font-size: 14px;
  color: #9ca3af;
  text-align: center;
}

.switch-text span {
  color: #6f7cff;
  cursor: pointer;
  font-weight: 600;
}

.switch-text span:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .auth-container {
    grid-template-columns: 1fr;
  }

  .message-panel {
    text-align: center;
    padding: 40px;
  }
}